/* Including styles files */
/* Including fonts */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic-ext");
@import url(../../libs/fancybox/dist/jquery.fancybox.css);
@font-face {
  font-family: 'Gilroy';
  src: url("../../fonts/Gilroy-Light.eot");
  src: local("Gilroy Light"), local("Gilroy-Light"), url("../../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy-Light.woff") format("woff"), url("../../fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("../../fonts/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy-Regular.woff") format("woff"), url("../../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("../../fonts/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy-Medium.woff") format("woff"), url("../../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("../../fonts/Gilroy-SemiBold.eot");
  src: local("Gilroy SemiBold"), local("Gilroy-SemiBold"), url("../../fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy-SemiBold.woff") format("woff"), url("../../fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("../../fonts/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy-Bold.woff") format("woff"), url("../../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

/* Grid */
.case {
  position: relative;
  width: 1215px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.row, .col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }
  .row-r {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }

.col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .col-r {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }

.row.left, .col.left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.row.right, .col.right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.row.mid, .col.mid {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.row.between, .col.between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.row.around, .col.around {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.no-wrap {
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }

.i-top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.i-bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.i-mid {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.i-baseline {
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.i-strech {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

/* Global settings */
*, :before, :after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: "Gilroy", sans-serif;
  color: #333333;
  background: white; }

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

li {
  display: block;
  list-style-image: none; }

a {
  color: #333333;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: .3s;
  transition: .3s; }

img {
  display: block;
  max-width: 100% !important;
  max-height: 100% !important; }

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input, textarea, button {
  outline: none; }

/* Form elements */
.input {
  position: relative; }
  .input__wrap {
    display: block;
    font-size: 16px;
    font-family: "Gilroy", sans-serif;
    background: white;
    width: 100%; }
  .input_border-white .input__wrap {
    border: 1px solid #e6e6e6; }
  .input_normal .input__wrap {
    height: 50px;
    padding-left: 22px;
    padding-right: 22px; }
  .input_radius .input__wrap {
    -webkit-border-radius: 50px;
            border-radius: 50px; }

.textarea {
  position: relative; }
  .textarea__wrap {
    display: block;
    font-size: 16px;
    font-family: "Gilroy", sans-serif;
    background: white;
    width: 100%;
    resize: none; }

.btn {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-family: "Gilroy", sans-serif;
  cursor: pointer;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
  background-color: transparent;
  overflow: hidden; }
  .btn span {
    z-index: 1;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .btn_border-gold {
    border: 1px solid #c17e2b; }
  .btn_text-white {
    color: #fff; }
  .btn_gradient-gold {
    color: #fff;
    border: 1px solid #c17e2b; }
    .btn_gradient-gold:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      -webkit-transition: .3s;
      transition: .3s;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#ecb762), to(#c17e2b));
      background-image: linear-gradient(180deg, #ecb762 0%, #c17e2b 100%); }
    .btn_gradient-gold:hover {
      color: #333333; }
      .btn_gradient-gold:hover:before {
        opacity: 0; }
  .btn_hover-gradient:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transition: .3s;
    transition: .3s;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ecb762), to(#c17e2b));
    background-image: linear-gradient(180deg, #ecb762 0%, #c17e2b 100%); }
  .btn_hover-gradient:hover:before {
    opacity: 1; }
  .btn_normal {
    height: 50px; }
  .btn_radius {
    -webkit-border-radius: 50px;
            border-radius: 50px; }

.input input, .textarea textarea {
  -webkit-transition: .3s;
  transition: .3s; }

input, .btn, .slick-slide, textarea {
  outline: none !important; }

.tal {
  text-align: left; }

.tac {
  text-align: center; }

.tar {
  text-align: right; }

.mid {
  margin-left: auto;
  margin-right: auto; }

.header {
  min-height: 855px;
  background: url("../../img/header.jpg") no-repeat center top;
  background-size: cover; }

.panel {
  padding-top: 35px; }
  .panel__logo, .panel__desc {
    width: 33.33%; }
  .panel__logo {
    position: relative;
    top: -6px; }
  .panel__desc {
    font-size: 16px;
    font-weight: 700;
    color: #f3cb8d;
    text-align: center; }
  .panel__btn {
    width: 160px;
    margin-left: auto; }

.hello {
  color: #fff;
  text-align: center;
  font-weight: 700;
  padding-top: 110px; }
  .hello__title {
    font-size: 70px;
    line-height: 70px;
    margin-bottom: 10px; }
  .hello__text {
    font-size: 50px;
    line-height: 50px;
    color: #ffe5bc;
    margin-bottom: 15px; }
  .hello__desc {
    font-size: 40px;
    line-height: 50px;
    color: #ffe5bc;
    margin-bottom: 60px; }
  .hello__subdesc {
    font-size: 26px;
    color: #eab45f;
    font-weight: 300; }

.title {
  font-size: 40px;
  line-height: 50px;
  font-weight: 700; }

.main {
  background-color: #f5f7f8; }

.questions {
  position: relative;
  top: -110px;
  margin-bottom: -100px; }
  .questions__title {
    color: #ffffff;
    text-align: center;
    margin-bottom: 25px; }
  .questions__list {
    background-color: #ffffff; }
  .questions__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 45px 35px;
    border-bottom: 1px solid #f5f7f8; }
    .questions__item:last-of-type {
      margin-bottom: 0;
      border-bottom: none; }
  .questions__question {
    font-size: 30px;
    font-weight: 700;
    width: 92%; }
  .questions__answer {
    color: #401f28;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    width: 8%; }
  .questions__desc {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100px;
    font-size: 30px;
    font-weight: 600;
    background-image: linear-gradient(94deg, #ecb762 0%, #ffebd1 100%); }

.we {
  padding-top: 40px; }
  .we__title {
    text-align: center;
    margin-bottom: 25px; }
  .we__list {
    margin-left: -8px;
    margin-right: -8px; }
  .we__item {
    margin-left: 8px;
    margin-right: 8px;
    background-color: #ffffff;
    padding: 40px 35px;
    width: -webkit-calc(33.333% - 16px);
    width: calc(33.333% - 16px);
    margin-bottom: 16px;
    -webkit-box-shadow: 0 30px 50px rgba(183, 180, 162, 0.16);
            box-shadow: 0 30px 50px rgba(183, 180, 162, 0.16); }
  .we__icon {
    height: 85px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 35px; }
  .we__subtitle {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 24px; }
  .we__text {
    font-family: "Roboto", sans-serif;
    line-height: 22px;
    max-width: 295px; }
    .we__text p {
      margin-bottom: 20px; }
      .we__text p:last-of-type {
        margin-bottom: 0; }

.desc__comfort, .desc__extra, .desc__other {
  padding-left: 35px;
  padding-right: 35px;
  background-color: #fff;
  -webkit-box-shadow: 0 30px 50px rgba(183, 180, 162, 0.16);
          box-shadow: 0 30px 50px rgba(183, 180, 162, 0.16); }

.desc__title {
  width: 220px;
  font-size: 22px;
  line-height: 30px;
  font-weight: 700; }

.desc__arrea {
  width: -webkit-calc(100% - 220px);
  width: calc(100% - 220px);
  padding-left: 115px; }

.desc__comfort {
  padding-top: 40px;
  padding-bottom: 40px; }

.desc__extra {
  padding-top: 35px;
  padding-bottom: 35px;
  border-top: 1px solid #f5f7f8;
  border-bottom: 1px solid #f5f7f8; }

.desc__other {
  padding-top: 35px;
  padding-bottom: 45px; }

.list {
  margin-bottom: -32px; }
  .list li {
    font-size: 18px;
    width: 33.333%;
    position: relative;
    padding-left: 27px;
    margin-bottom: 32px; }
    .list li:before, .list li:after {
      position: absolute;
      content: '';
      top: 0;
      left: 0; }
    .list li:before {
      z-index: 1;
      width: 18px;
      height: 18px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#ecb762), to(#c17e2b));
      background-image: linear-gradient(180deg, #ecb762 0%, #c17e2b 100%); }
    .list li:after {
      z-index: 2;
      width: 28px;
      height: 27px;
      margin-top: -1px;
      margin-left: -5px;
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAbCAYAAABvCO8sAAAB4klEQVRIS82WsU4CQRCGZ2nO5nJQXEUjFldoQUFPQUgkIbGjojDxDXwCIaGgMCGxI5BYSIWND2BhY2mhRgtjYX+VIbmYXODMAIt7y87eekLiNlvc3nzzz8zODoO/rAgYMIh+Y4IlHkajJssQrDdmCpMd0sBpoAbWagNrnUHEdzIACvA6UAFCw0lRJR2QoHFDKWGiMwiOOWcKpFS97DdWTh68XpMVSoF/FErqZKAIEhUMD4eOZVnZbnfnw0TpApgAwyMqYK/Wy+bt/C0AfLbbrIJnRNUxlcvQrgFFZZQq3/XZqDRylrBCGIaV5k3zEWFJUOTGCkcFHBwNdh3LeZ/C9KR6V70SYUEYVOr39SfXd1f51KmMAXV5GzfGDwBQnMHsNAOZYwAocBiG3AgIMO+ESoVyODu1Ts6zPcxXEXOGsPJl+dn27JUyDt2IQsxbv9TPerZ3HoTBBcJQGQemUkgVDMLQ+ORtwhCA+17ui/muO+NXYStADhWVbQWIRmWVIgi/GSlkEBldCxGoauIUDM/Kl18LpDqM7uUgKxR/mis0aG1UxxHBciPXN++UvVRWyqFrsKW6xcbXBt5Cbkr3Jv6fB1gOV9KYoQujaMtoptFVJfmNmNxSTW2JDqQaEzXFpAQaDsLfH78lKz8uQ5IAAAAASUVORK5CYII="); }

.icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: -30px; }
  .icons__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    padding-right: 20px;
    margin-bottom: 30px; }
  .icons__icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 70px; }
  .icons__text {
    padding-left: 12px;
    width: -webkit-calc(100% - 70px);
    width: calc(100% - 70px); }

.points {
  margin-top: 55px; }
  .points__title {
    margin-bottom: 20px; }
  .points__list {
    margin-left: -8px;
    margin-right: -8px; }
  .points__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: -webkit-calc(50% - 16px);
    width: calc(50% - 16px);
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 16px;
    background-color: #fff;
    padding: 42px 36px 42px 36px;
    -webkit-box-shadow: 0 10px 20px rgba(96, 56, 27, 0.07);
            box-shadow: 0 10px 20px rgba(96, 56, 27, 0.07); }
  .points__icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 83px; }
  .points__text {
    font-size: 18px;
    line-height: 22px;
    font-family: "Roboto", sans-serif;
    width: -webkit-calc(100% - 83px);
    width: calc(100% - 83px);
    padding-left: 23px; }

.team {
  padding-top: 9px;
  margin-bottom: 85px; }
  .team__text {
    width: 235px;
    padding-top: 155px; }
  .team__desc {
    margin-bottom: 15px; }
  .team__title {
    font-size: 50px;
    font-weight: 700;
    color: #c98835; }
  .team__img {
    width: -webkit-calc(100% - 235px);
    width: calc(100% - 235px); }
    .team__img img {
      margin-left: auto;
      display: none; }
      .team__img img.img-lg {
        display: block; }

.form {
  background-image: linear-gradient(114deg, #f29864 0%, #fec163 100%);
  padding-bottom: 120px; }
  .form__wrap {
    position: relative;
    top: -80px;
    margin-bottom: -80px;
    background-color: #fff;
    -webkit-box-shadow: 0 10px 20px rgba(96, 56, 27, 0.07);
            box-shadow: 0 10px 20px rgba(96, 56, 27, 0.07); }
  .form__body {
    padding: 45px 50px 50px; }
  .form__title {
    font-weight: 400;
    margin-bottom: 12px; }
  .form__desc {
    color: #3e0d39;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 20px; }
  .form__arrea {
    margin-bottom: 33px; }
  .form__input {
    width: 335px;
    margin-right: 15px; }
  .form__btn {
    width: 185px; }
  .form__text {
    font-size: 18px;
    color: #c68531; }
    .form__text strong {
      color: #333333;
      font-size: 22px;
      margin-right: 10px; }
  .form__foot {
    padding: 36px 50px 45px;
    background-color: #f5f7f8; }
  .form__subdesc {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 12px; }
  .form__subtext {
    font-size: 22px;
    font-weight: 500; }

.footer {
  background-color: #2a0f20; }
  .footer__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 70px;
    color: #d0d0d0;
    font-size: 12px;
    font-family: "Roboto", sans-serif; }
    .footer__wrap a {
      color: #d0d0d0; }
      .footer__wrap a:hover {
        color: #fff;
        border-color: #fff; }
  .footer__copy {
    padding-right: 10px; }
  .footer__links {
    padding-left: 10px; }
    .footer__links li {
      margin-right: 15px; }
      .footer__links li:last-of-type {
        margin-right: 0; }

.hidden-lg {
  display: none; }
